<header class="header fixed">
    <div class="header-wrapper">
        <div class="container">

            <!-- Logo -->
            <div class="logo">
                <a href="index.html"><img src="http://quadradecor.ru/images/logo.jpg" alt=""/></a>
            </div>
            <!-- /Logo -->

            <!-- Header search -->
            <div class="header-search">
                <input class="form-control" type="text" placeholder="Поиск"/>
                <button><i class="fa fa-search"></i></button>
            </div>
            <!-- /Header search -->
        </div>
    </div>
    <div class="navigation-wrapper">
        <div class="container">
            <!-- Navigation -->
            <nav class="navigation closed clearfix">
                <a href="#" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
                <ul class="nav sf-menu">
                    <li class="sale"><a href="#">Главная</a></li>
                    <li><a href="category.html">Каталог</a></li>
                    <li><a href="blog.html">Новости</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="category.html">Скидки</a></li>
                    <li><a href="contact.html">Контакты</a></li>
                </ul>
            </nav>
            <!-- /Navigation -->
        </div>
    </div>
</header>