<section class="page-section no-padding-top">
    <div class="container">
        <div class="row blocks shop-info-banners">
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="pull-right"><i class="fa fa-gift"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">Купить в 1 клик</h4>
                            Декор. Коллекции.<br/>Обои
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="pull-right"><i class="fa fa-comments"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">Заказать звонок</h4>
                            Мы перезвоним вам в ближайшее время.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="pull-right"><i class="fa fa-trophy"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">Возврат покупок</h4>
                            Мы перезвоним вам в ближайшее время.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>