<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail no-border no-padding">
            <div class="media">
                <a class="media-link" data-gal="prettyPhoto" href="assets/catalog/palazzo/02.jpg">
                    <img src="assets/catalog/palazzo/02.jpg" alt=""/>
                    <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                </a>
            </div>
            <div class="caption text-center">
                <h4 class="caption-title"><a href="product-details.html">FABELLO DÉCOR (Малайзия)</a></h4>
                <div class="rating">
                    <span class="star"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span>
                </div>
                <div class="price"><ins>$400.00</ins> <del>$425.00</del></div>

            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail no-border no-padding">
            <div class="media">
                <a class="media-link" data-gal="prettyPhoto" href="assets/catalog/palazzo/03.jpg">
                    <img src="assets/catalog/palazzo/03.jpg" alt=""/>
                    <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                </a>
            </div>
            <div class="caption text-center">
                <h4 class="caption-title"><a href="product-details.html">FABELLO DÉCOR (Малайзия)</a></h4>
                <div class="rating">
                    <span class="star"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span>
                </div>
                <div class="price"><ins>$400.00</ins> <del>$425.00</del></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail no-border no-padding">
            <div class="media">
                <a class="media-link" data-gal="prettyPhoto" href="assets/catalog/palazzo/04.jpg">
                    <img src="assets/catalog/palazzo/04.jpg" alt=""/>
                    <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                </a>
            </div>
            <div class="caption text-center">
                <h4 class="caption-title"><a href="product-details.html">FABELLO DÉCOR (Малайзия)</a></h4>
                <div class="rating">
                    <span class="star"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span>
                </div>
                <div class="price"><ins>$400.00</ins> <del>$425.00</del></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail no-border no-padding">
            <div class="media">
                <a class="media-link" data-gal="prettyPhoto" href="assets/catalog/palazzo/05.jpg">
                    <img src="assets/catalog/palazzo/05.jpg" alt=""/>
                    <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                </a>
            </div>
            <div class="caption text-center">
                <h4 class="caption-title"><a href="product-details.html">FABELLO DÉCOR (Малайзия)</a></h4>
                <div class="rating">
                    <span class="star"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span><!--
                                            --><span class="star active"></span>
                </div>
                <div class="price"><ins>$400.00</ins> <del>$425.00</del></div>
            </div>
        </div>
    </div>
</div>